@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat:wght@400;600&=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    color: #F6F6F6;
}

.titulo-destaque
{
    color: #22D4FD;
}

.container
{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__content
{
    display: flex;
    width: 615px;
    height: 355px;
    flex-direction: column;
    gap: 40px;
}

.content__title
{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.content__text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.content__links
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link
{
    width: 280px;
    background-color: #22D4FD;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 21.5px 0 ;
    border-radius: 16px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}