@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Montserrat:wght@400;600&=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.header
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: red;
    text-decoration: none;
    padding: 2% 0 0 15%;
}

.header__nav
{
    display: flex;
    gap: 80px;
}

.header__nav__link
{
    color:red;
    text-decoration: none;
}

.titulo-destaque
{
    color: red;
}

.container
{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__content
{
    display: flex;
    width: 615px;
    height: auto;
    flex-direction: column;
    gap: 40px;
}

.content__title
{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.content__text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.content__links
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.content__links__title
{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.link
{
    display: flex;
    width: 378px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    text-align: center;
    padding: 21.5px 0;
    border: 2px solid red;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .5s;
}

.link:hover
{
    background-color: rgba(255, 0, 0, 0.226);
}

.footer
{
    display: flex;
    color: #000000;
    background-color: red;
    width: 100%;
    height: auto;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}